<% if @user.nil? %>
  <p>Whoops, you don't have permission to do that.</p>
<% else %>
  <%= form_for @user do |f| %>
    <div class="username">
      <p><%= @user.username %></p>
    </div>
    <div class="field">
      <p><%= @user.email %></p>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <button class="btn" type="submit">Submit</button>
  <% end %>
<% end %>